<head>
  <title>meteor-github</title>
</head>

<body>
  <h1>Click the button to fetch a follower for a GitHub user</h1>

  {{> hello}}
</body>

<template name="hello">
  <button>Click Me</button>
  <pre>{{result}}</pre>
</template>
